
# ignore editors folders
.vscode/
.idea/

# ignore node_modules folder
node_modules/

# ignore dist folder
dist/

# ignore sqlite database folder
db/

# ignore tmp folders
temp/
tmp/

# ignore .env file
.env